#agregagar-reserva {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calendar-container {

    background-color: white;
    width: 45vh;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: $tipo_letra;
}

.header {
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.month-year {
    display: flex;
    gap: 10px;
    align-items: center;
}

.month-year select {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#mSelect {
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    font-family: $tipo_letra;
    font-weight: bold;
    color: $fondo_btn;
    background-color: #f4f4f4;
    border: 2px solid #ccc;
    border-radius: 8px;
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#ySelect {
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    font-family: $tipo_letra;
    font-weight: bold;
    color: $fondo_negro;
    background-color: #f4f4f4;
    border: 2px solid #ccc;
    border-radius: 8px;
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.calendar {
    padding: 10px;

}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.day:hover {
    background-color: #e0e0e0;
}

.day.selected {
    background-color: #8bc34a;
    color: white;
}

.day.in-range {
    background-color: #dcedc8;
}
 
.reservation {
    padding: 20px;
    border-top: 1px solid #e0e0e0;
}

.date-range {
    margin-bottom: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
}

.date-range div {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.pax {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
}

.pax-selector {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}
.pax-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #8bc34a;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pax-count {
    margin: 0 10px;
    font-size: 16px;
}

.confirm-button {
    width: 100%;
    padding: 10px;
    background-color: #8bc34a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}