#forgetpw {
    justify-content: center;
    align-items: center;
}

#forgetpw h2 {
    margin-left: 35px;
    margin-bottom: 100px;
}

#forgetpw label {
    font-family: $tipo_letra;
}

#a_recovery {
    margin-left: 110px;
}

.recovery {
    margin-bottom: 60px;
    margin-top: 40px;
}