#forgetpw {
    justify-content: center;
    align-items: center;
}

#forgetpw h2 {
    margin-left: 50px;
    margin-bottom: 100px;
}

#forgetpw input {
    margin-left: 20px;
}

#forgetpw p {
    font-family: $tipo_letra;
    margin-left: 20px;
    margin-top: 40px;
}

#a_recovery {
    margin-left: 130px;
}

#forgetpw button {
    margin-top: 30px;
}

