#forgetpw {
    justify-content: center;
    align-items: center;
}

#forgetpw h2 {
    margin-left: 65px;
    margin-bottom: 100px;
}

#a_recovery {
    margin-left: 155px;
}

.recovery {
    margin-bottom: 60px;
}