$fondo_input: #CFD9DD;
$fondo_btn: #81AE64;
$fondo_blanco: white;
$color_menu: #EFFFE4;
$fondo_negro: black;

/*Diseño del body
body{
  margin:0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100vh;
}*/

/*Se define el tamaño de la app en la sección de app*/
/*#app{
  width: 340px;
  height: 440px;
  margin:0 auto;
  border:1px solid black;
  overflow: hidden;
}*/

/* Diseño del boton */
.login-btn {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    width: 172px;
    height: 47px;
    margin-left: 75px;
    margin-right: 87px;
    margin-top: 17px;
    margin-bottom: 11px;
    border-radius: 10px;
    background-color: $fondo_btn;
    border-style:none;
    color:$fondo_blanco;
    font-weight:bold;
  }

/* Diseño de los input*/
.input-container {
    display:flex;
    flex-direction:column;
    font-family: Inter;
    margin-left: 17px;
  }
/* Diseño del login */ //No se si es necesario la vdd
.login-container {
    display:flex;
    flex-direction: column;
    width: 353px;
    height: 640px;
  }

.btn-volver{
    width: 50px;              
    height: 50px;             
    background-color: $fondo_negro;  
    border-radius: 50%;       
    display: flex;            
    justify-content: center;  
    align-items: center;      
    cursor: pointer;          
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.flecha {
    color: $fondo_blanco;             
    font-size: 24px;              
    font-weight: bold;
    margin-right: 10px;  
}



