$fondo_input: #CFD9DD;
$fondo_btn: #81AE64;
$fondo_blanco: white;
$color_menu: #EFFFE4;
$fondo_negro: black;
$tipo_letra_titulos: 'Montserrat Alternates';
$tipo_letra: 'Montserrat Alternates-Regular';

/*Diseño del body*/
body{
  margin:0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100vh;
}

/*Se define el tamaño de la app en la sección de app*/
#app:not(#home){
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto; //Esto es lo que hace que quede centrado
  border:5px solid black;
  overflow: auto;
}

/* Diseño del boton */
.login-btn {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    width: 172px;
    height: 47px;
    margin-left: 90px;
    margin-right: 80px;
    margin-top: 17px;
    margin-bottom: 11px;
    border-radius: 10px;
    background-color: $fondo_btn;
    border-style:none;
    color:$fondo_blanco;
    font-weight:bold;
    font-family: $tipo_letra;
    font-weight: bold;
  }

.login-btn[type='submit']:active {
  transform: scale(0.97);
}  

/* Diseño de los input*/
.input-container {
    display:flex;
    flex-direction:column;
    margin-left:20px;
  }
/* Diseño del login */ //No se si es necesario la vdd
.login-container {
    display:flex;
    flex-direction: column;
    width: 45vh;
    height: 100%;
  }


.flecha{
    width: 50px;              
    height: 50px;    
    font-size: 50px;
    font-weight: bold;   
    color: $fondo_negro;      
    background-color: $fondo_blanco;  
    border-radius: 50%;       
    display: flex;            
    justify-content: start;        
    cursor: pointer;    
    text-align: center;      
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: auto;
}

.title{
    font-size: 30px;
    font-weight: bold;
    margin-left: 6vh;
}

.ocultar{
  display: none;
}

//Diseño de los sweet alert
.swal2-title {
  font-family: $tipo_letra_titulos;
}

.swal2-html-container {
  font-family: $tipo_letra;
}

//TIPOS DE LETRA

//Tipo de letra para los titulos
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

//Tipo de letra para los demás textos
@font-face {
  font-family: 'Montserrat Alternates-Regular';
  src: url('/src/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



