.home{
    display: flex;
}
.sidebar {
    width: 15vh;
    background-color: $color_menu;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-radius: 1ch;
}

.sidebar .profile {
    margin-bottom: 20px;
}

.sidebar .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sidebar ul {
    flex: 1;
    list-style-type: none;
    display:flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}


.sidebar ul li {
    width: 100%;
    text-align: center;
    margin: 4vh 0;
    margin-bottom: 20px;
}

.sidebar .cerrar{
    margin-top: 800%;
    color: red;
}

#sidebar-menu{
    position: absolute;
    width: 50%; 
    height: 90vh;
    background: $color_menu;
    padding: 20px;
    flex-direction: column;
    z-index: 999;
    border-radius: 3ch;
    transition: all 1s;
}

#sidebar-menu .profile {
    margin-bottom: 20px;
    text-align: center;
}

#sidebar-menu ul {
    list-style-type: none;
    padding: 0;
}

#sidebar-menu ul ul {
    display: none;
    padding-left: 0;
}

#sidebar-menu ul li {
    margin: 5vh 0;
    text-align: center;
    margin-bottom: 5vh;
}

#sidebar-menu ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

#sidebar-menu ul li a:hover {
    background:  #b4c9a3;
    border-radius: 5px;
    padding: 5px;
}

#sidebar-menu ul li a i {
    margin-right: 10px;
}

#sidebar-menu ul li a.out {
    color: red;
    margin-top: 220%;
}

.hidden {
    display: none;
}


.content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.section img {
    width: auto;
    height: auto;
    background-color: #ccc; /* Placeholder para imagen */
}

.section h2 {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    font-family: $tipo_letra_titulos;
}

/* Contenedor del carrusel */
.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 10%;
    margin: 0 auto;
    overflow: hidden;
}

/* Contenedor de las im치genes dentro del carrusel */
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
}

/* Estilo para las im치genes del carrusel */
.carousel-images img {
    width: 100%;
    height: 300px;
    flex-shrink: 0;
}

/* Botones de navegaci칩n (flechas) */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 35px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Botones visibles solo al pasar el rat칩n */
.carousel:hover .prev, 
.carousel:hover .next {
    visibility: visible;
}

/* Ajustes para ocultar las flechas inicialmente */
.prev, .next {
    visibility: hidden;
}

.ocultar {
    display: none;
}

.numero{
    list-style-type: decimal;
    margin-bottom: 1vh;
    margin-left: 0;
    font-weight: bold;
    font-family: $tipo_letra;
    font-size: large;
  }

.literal{
    list-style-type: circle;
    margin-bottom: 1vh;
    font-family: $tipo_letra;
    margin-left: 1vh;
    margin-right: 1vh;
  }

