.input-container {
    display:flex;
    flex-direction:column;
    font-family: Inter;
    margin-left: 17px;
    
  }
  
  .login-container a{
    margin-left: 11px;
    color: #81AE64;
    text-decoration: none;
    
  }
  
  .login-container {
    display:flex;
    flex-direction: column;
    width: 353px;
    height: 640px;
  }
  
  .login-container h2{
    width: 237px;
    height: 44px;
    margin-bottom: 36px;
    margin-left: 56px;
    margin-right: 60px;
    margin-top: 57px;
    font-size: 36px;
    font-family: inter; /*No se que tipo de letra es*/ 
  }
  
  .input {
    width: 311.89px; 
    height: 48.73px;
    border-radius: 10px;
    margin-bottom: 20px;
    border-style:none;
    background-color: #CFD9DD;
  }
  
  .input::placeholder{
    color:black;
  }
  
  .login-btn {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    width: 172px;
    height: 47px;
    margin-left: 94px;
    margin-right: 87px;
    margin-top: 17px;
    margin-bottom: 11px;
    border-radius: 10px;
    background-color: #81AE64;
    border-style:none;
    color:white;
    font-weight:bold;
  }
  
  .label-forget {
    margin-left: 34px;
  }
  
  .label-register {
    margin-left: 86px;
  }
  
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }