#perfil {
    justify-content: center;
    align-items: center;
}

#perfil label {
    font-family: $tipo_letra_titulos;
    margin-left: 15px;
   
}

.input-perfil {
    width: 100%;
    border: none; 
    border-bottom: 1px solid $fondo_btn; 
    padding: 8px 0; 
    outline: none;
    font-family: $tipo_letra;
    margin-bottom: 20px;
    margin: 0 0 20px 10px;
    ;
}

